*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:green;
    text-align:center;
}
h2{
    color: aliceblue;
}
body{
    /* background: #3333; */
    font-family: 'Poppins', sans-serif;
    align-items: center;
    /* justify-content: center; */
    /* display: flex; */
}
.logo{
    width: 38px;
    border-radius: 14px;

}
.navbar{
    display:flex;
    align-items:center;
    padding: 10px;
}
.international{
    margin-top: 50px;
}

nav{ 
    flex: 1;
    text-align: right;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}
p{
    color: rgb(127, 136, 255);
}
.container{
    max-width: 1300px;
    align-items: center;
    margin: auto; 
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
body{
    background-image: url('aesthetic_background.jpg');
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    border: white;
}
.col-2 h1{
    font-size: 50px; 
    line-height:60px ;
    margin: 25px 0;
}
.header{
    background: rgba(255,255,255,0.8);
    padding: 0 0;
    width: 100%;
}
.header .row{
    margin-top: 70px;
}
/* .links{
    outline-style: inset;
    color: aqua;
    outline-width: 5px;
    outline-color: darkblue;
} */
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 220px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    width: 805px;
    height: 324px;
    margin: 10px;
    box-shadow: -1px 0 10px #0000;
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
    font-size: x-large;
    border-style:solid;
    border-radius: 8px;
    border-color: black;
}
.row-4{
    flex-basis: 50%;  
    padding: 10px;
    min-width: 400px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    width: 800px;
    height: 400px;
    margin: 10px;
    box-shadow: -1px 0 10px #0000;
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
    font-size: small;
    border-style:solid;
    border-radius: 8px;
    border-color: black;
}
.row-4 img{
    width: 300px;
    height: 150px ;
}
.row-4 p{
    font-size: 14px;
}
.row-4:hover{
    transform: translateY(-5px);
}
.col-4 img{
    width: 100%;
}
i{
    color: orange;
    background-color: aliceblue;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:aliceblue;
}
.title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}